{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'main/css/home.css' %}"> {% endblock %}
    {% block content %}
<body>
    <div class="nav">
        <div class="nav-center">
            <h1 class="navtext">HOSHI</h1>
        </div>
        <button class="color-scheme"></button>
    </div>
    <div class="central-part">
        <div class="super-central-block">
            <div class="central-block">
                <div class="generation">
                    <div class="gen-content">
                        <div class="model-version">
                            <div class="model-1">
                                <p class="model-text">Model Version</p>
                                <img src="{% static 'main/faq.png' %}" alt="faq" class="faq" data-tooltip="вфывфывфывфывфывфывфыДругая подсказка">
                            </div>
                            <select class="custom-select">

                            </select>
                        </div>
                        <div class="music-style">
                            <div class="music-1">
                                <div class="music-2">
                                    <p class="model-text">Style of Music</p>
                                    <img src="{% static 'main/faq.png' %}" alt="faq" class="faq">
                                </div>
                                <div class="music-3">
                                    <div class="switch">
                                        <input type="checkbox" id="switch"/>
                                        <label for="switch">Toggle</label>
                                    </div>
                                    <p class="exclude">Exclude Styles</p>
                                    <img src="{% static 'main/faq2.png' %}" alt="faq" class="faq-2">
                                </div>
                            </div>
                            <div class="input-container">
                                <textarea class="style-input"></textarea>
                                <span class="placeholder">Enter style of music</span>
                            </div>
                        </div>
                        <div class="tempo">
                            <div class="music-4">
                                <p class="model-text">Tempo</p>
                                <img src="{% static 'main/faq.png' %}" alt="faq" class="faq">
                            </div>
                            <div class="input-container2">
                                <textarea class="style-input"></textarea>
                                <span class="placeholder">Enter a tempo</span>
                            </div>
                        </div>
                        <div class="tempo2">
                            <div class="music-4">
                                <p class="model-text">Title</p>
                                <img src="{% static 'main/faq.png' %}" alt="faq" class="faq">
                            </div>
                            <div class="input-container2">
                                <textarea class="style-input"></textarea>
                                <span class="placeholder">Enter a title</span>
                            </div>
                        </div>
                        <button class="create-btn">
                            CREATE
                        </button>
                    </div>
                </div>
                <div class="other">
                    <div class="compositions">
                    </div>
                    <div class="socials">
                        <p class="total-generations">total generations: 15</p>
                        <div class="soc">
                            <button class="github"></button>
                            <button class="tg"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="audio-block">
                <p class="audio-name" id="current-track">Title</p>
                <div class="audio-container">
                    <p class="current">0:00</p>
                    <div class="timeline">
                        <div class="progress"></div>
                    </div>
                    <p class="length">0:00</p>
                </div>
                <div class="buttons">
                    <div class="track-interactions">
                        <button class="like" id="likeButton" 
                                data-liked="{% static 'main/Liked.png' %}" 
                                data-unliked="{% static 'main/Like.png' %}">
                            <img src="{% static 'main/Like.png' %}" alt="Like">
                        </button>
                        <button class="loop-btn" id="loopButton" 
                                data-loop-on="{% static 'main/loopON.png' %}" 
                                data-loop-off="{% static 'main/loopOFF.png' %}">
                            <img src="{% static 'main/loopOFF.png' %}" alt="Loop Off">
                        </button>
                    </div>
                    <div class="centration">
                        <button class="back">
                            <img src="{% static 'main/BackButton.png' %}" alt="Back">
                        </button>
                        <button class="play" id="playButton">
                            <img src="{% static 'main/PlayButton.png' %}" alt="Play">
                        </button>
                        <button class="next">
                            <img src="{% static 'main/NextButton.png' %}" alt="Next">
                        </button>
                    </div>
                    <div class="volume-interaction">
                        <img class="volume-icon" src="{% static 'main/VolumeIcon.png' %}" alt="Volume">
                        <input type="range" class="volume" 
                                min="0" max="100" step="1" 
                                value="100" id="volumeSlider" 
                                style="--fill-percent: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="abstract-1"></div>
        <div class="abstract-2"></div>
        <div class="blur"></div>
    </div>
{% endblock %}

    {% block extra_js %}
    <script src="{% static 'main/js/audioPlayer.js' %}"></script>
    <script src="{% static 'main/js/trackManager.js' %}"></script>
    <script src="{% static 'main/js/formHandler.js' %}"></script>
    <script src="{% static 'main/js/uiControls.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    {% endblock %}

