{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'main/css/registration.css' %}">{% endblock %}

{% block content %}
    <div class="nav">
        <button class="color-scheme"></button>
    </div>
    <div class="central-part">
        <div class="content">
            <div class="text-box">
                <h1 class="h1">enter</h1>
                <p class="p">you are one step closer</p>
            </div>
            <div class="card">
                <div class="bar">
                    <p class="bar-1">REGISTRATION FORM</p>
                    <p class="bar-2">HOSHI</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="spacer"></div>
                    <input type="text" name="username" class="reg-input" placeholder="nickname" value="{{ form.username.value|default:'' }}">
                    {% if form.username.errors %}
                        <div class="field-error">{{ form.username.errors.0 }}</div>
                    {% endif %}
                    <div class="line"></div>
                    <div class="spacer"></div>
                    <input type="password" name="password1" class="reg-input" placeholder="password">
                    {% if form.password1.errors %}
                        <div class="field-error">{{ form.password1.errors.0 }}</div>
                    {% endif %}
                    <div class="line"></div>
        
                    <div class="spacer1"></div>
                    <button type="submit" class="enter">ENTER</button>
                </form>
            </div>
        </div>
        <div class="abstract-1"></div>
        <div class="abstract-2"></div>
        <div class="blur"></div>
    </div>
{% endblock %}
